
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*==========Header========== */
.header {
    width: 100%;
    height: 250px;
}
/* header - contacts */
.d_contacts {
    background-color: black;
}
.contacts {
    width: 100%;
    display: flex;
    background-color: black;
    height: 50px;
    line-height: 50px;
}
.contacts_info {
    display: flex;
    width: 60%;
    float: left;
    padding-left: 10px;
}
.contacts_info a:hover {
    color: #668a2d;
    transition: 0.3s;
}
.login_register_cart {
    list-style: none;
    width: 40%;
    display: flex;
    float: right;
}
.login_register_cart li {
    text-align: center;
}
.login_register_cart li a{
    text-decoration: none;   
}
.login_register_cart li a:hover {
    color: #729a33;
    text-decoration: solid;
    transition: 0.3s;
}
.contacts_info p, .contacts_info a, .login_register_cart li a{
    color: white;
}
/* header - logo */
.logo {
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: 120px;
    border-bottom: 1px solid gray;
}
.img_logo {
    width: 30%;
}
.banner_top {
    width: 70%;
}
.banner_top img {
    float: right;
}
/* header - navbar */
.navbar {
    width: 100%;
    display: flex;
    height: 60px;
}
.menu {
    width: 70%;
    list-style: none;
    display: flex;
    padding: 0px;
}
.menu li {
    padding: 0px 10px;
    text-align: center;
}
.menu li a:hover {
    color: #668a2d;
    transition: 0.1s;
}
.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

/* Đường kẻ dưới mặc định ẩn đi */
.menu li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #668a2d; /* Màu sắc của đường kẻ */
    transform: scaleX(0); /* Khởi đầu với đường kẻ không có chiều rộng */
    transition: transform 0.3s ease; /* Hiệu ứng khi thay đổi */
}

/* Khi hover vào đoạn văn bản, đường kẻ sẽ hiển thị */
.menu li a:hover::after {
    transform: scaleX(1); /* Hiển thị đường kẻ */
}
.menu_2 {
    background-color: transparent;
    position: absolute;
    top: 40px;
    left: 196px;
    z-index: 2;
    display: none;
}
.menu li:hover .menu_2 {
    display: block;
}
.menu_2 li {
    list-style: none;
    position: relative;
    text-align: left;
    color: white;
    padding: 5px 20px;
    background-color: #729a33;
}
.menu_2 li:hover a{
    color: black;
    transition: 0.5s;
}
.menu_2 li a {
    color: white;
}
.search {
    margin-top: 5px;
    width: 30%;
    height: 100%;
}
.search input {
    position: relative;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    padding: 10px 70px;
}
.search input:hover {
    border: 1px solid gray;
    transition: 0.3s;
}
.search input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Điều chỉnh padding để có khoảng trống cho icon */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước của input */
}

.search i.fa-magnifying-glass {
    position: absolute;
    right: 10px; /* Khoảng cách từ bên phải */
    bottom: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; /* Thay đổi con trỏ khi hover vào icon */
    color: #ccc; /* Màu của icon, điều chỉnh theo ý muốn */
}

.search input[type="text"]:focus + i.fa-magnifying-glass {
    color: #333; /* Màu của icon khi input được focus, điều chỉnh theo ý muốn */
}
/* =============Main============== */
.main {
    width: 100%;
    height: 1420px;
    margin-top: 10px;
}
/* main - theme */
.theme {
    width: 100%;
    height: 200px;
    background: url(https://theme.hstatic.net/1000217040/1000281737/14/bgcrumb.png?v=42%22%20no-repeat%20center);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.theme h4 {
    width: 100%;
}
.theme h4 a {
    display: flex;
    justify-content: center;
}
.theme div {
    display: flex;
    justify-content: center;    
}
.theme h4 {
    padding-top: 60px;
}
.theme a {
    text-decoration: none;
    color: white;
}
.theme p a:hover {
    text-decoration: underline;
    text-decoration-color: green;
    transition: 0.3s;
}
/* main - category_content */
.category_content {
    width: 100%;
    display: flex;
    margin-top: 20px;
}
/* category - category_slidepr*/
.category {
    width: 25%;
    float: left;
}
.category_slidepr {
    background-color: #668a2d;
}
.category_slidepr h5 {
    text-align: center;
    color: white;
    padding: 10px 0px;
}
.category_slidepr ul {
    background-color: #729a33;
    padding: 5px 30px;
}
.category_slidepr ul li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
.category_slidepr ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.category_slidepr ul li a:hover {
    color: black;
    padding-left: 20px;
    transition: 0.5s;
}
/* category - list_news */
.list_news {
    width: 100%;
}
.ln_title {
    width: 100%;
}
.ln_list {
    padding-left: 0px;
    list-style: none;
    width: 100%;
}
.ln_list li {
    width: 100%;
    display: flex;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    margin: 15px 0px;
}
.li_left {
    width: 30%;
}
.li_left img {
    width: 100%;
    height: 100%;
}
.li_right {
    width: 70%;
    height: 100%;
}
.lr_p1 {
    font-weight: bold;
    padding-left: 10px;
}
.lr_p2 {
    color: #888890;
    padding-left: 10px;
}
/* category - sale_banner */
.sale_banner {
    width: 100%;
}
.title_sale_banner {
    width: 100%;
    height: 10%;
    display: flex;
    background-color: white;
}
.title_sale_banner h4 {
    width: 85%;
    font-weight: bold;
}
.img_sale_banner {
    width: 100%;
    height: 90%;
    background-color: white;
}
.img_sale_banner img {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}
/* main - content */
.content {
    width: 75%;
    float: right;
    padding-left: 20px;
}
.title_ct {
    width: 100%;
}
.list_ct {
    width: 100%;
    display: flex;
}
.card {
    margin: 20px 0px;
}
/* =============Footer============== */
.footer {
    margin-top: 10px;
    width: 100%;
    height: 225px;
    background-color: #333333;
    display: flex;
}
.ft_1 {
    width: 50%;
    padding: 20px;
}
.ft_2 {
    width: 25%;
    padding: 20px;
}
.ft_3 {
    width: 25%;
    padding: 20px;
}
.ft_1 h4, .ft_2 h4, .ft_3 h4 {
    color: white;
}
.ft_1 div, .ft_2 div, .ft_3 div {
    border-top: 2px solid #729a33;
    width: 50px;
}
.ft_1 a, .ft_2 a, .ft_3 a {
    text-decoration: none;
    color: white;
}
.ft_1 p {
    color: white;
}
.ft_2 ul, .ft_3 ul {
    list-style: none;
}
.ft_2 ul li {
    margin-right: 20px;
}
/* hover */
.ft_1 a:hover {
    color: #729a33;
    text-decoration: underline;
    transition: 0.2s;
}
.ft_2 ul li a:hover {
    color: #729a33;
    text-decoration: underline;
    transition: 0.2s;
}
.ft_3 ul li a:hover {
    color: #729a33;
    text-decoration: underline;
    transition: 0.2s;
}
.ft_1 p i:hover {
    color: #729a33;
    transition: 0.2s;
}
